body{
    background-color: rgb(21, 21, 71);
    color: white;
}
h1{
    text-align: center;
    font-size: 2cm;
}
p{
    font-size: 20px;
    margin: 20px;
    font-family: 'italic';
    color: cyan;
}